.form{
    max-width: 500px;
    margin: 50px auto;
    padding: 15px 10px;

    border: 2px solid grey
}

.validation.ng-invalid.ng-touched{
    border: 1px solid red;
}

.validation.ng-valid.ng-touched{
    border: 1px solid green;
}

small{
    color: red;
}

.btn{
    width: 30%;
    margin-top: 15px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.googleIcon{
    font-size: 30px;
    transition: color .2s linear;
    cursor: pointer;
}

.googleIcon:hover{
    color:rgb(255, 46, 46)
}

